


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Inter', sans-serif;
  background: #ffffff;
  color: #000000;
  overflow-x: hidden;
}

::selection {
  background: #9400d3;
  color: white;
}

.typing-text {
  width: fit-content;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #000;
  animation: typing 4s steps(30) infinite alternate;
}

@keyframes typing {
  0% { width: 0; }
  50% { width: 100%; }
  100% { width: 0; }
}

/* Class for cycling keyword font */
.font-poppins {
  font-family: 'Poppins', sans-serif;
}
